
.header{
    border: 1px #000000;
    width: 600px;
    margin: 0px auto;
}
.content_area{
    border: 1px solid #33cc33;
    height: 300px;
    width: 600px;
    margin: 0px auto;
    margin-top: 20px;

}

.content_area img {
    width: 50%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #ffffff; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pages ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: rgba(000,000,000);
    font-size: 30px;
    justify-content: center;
}
h1, h3 {
    font-size: 20px;
    color: purple;
}

p {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container-tc h3{
    text-shadow: 1px 1px #333333;
    color: #c17b69;
 }
.container-tc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}
.yellowstone{
    flex: 1;
    background-image: url(../images/yellow%20stone.jpg);
    background-size: cover;
    margin-right: 20px;
    border: 1px solid #c17b69;
}

.contact_logos {
    text-align: center;
}
 
.badlands{
    flex: 1;
    background-image: url(../images/bad%20lands.jpg);
    background-size: cover;
    margin-left: 20px;
    border: 1px solid #c17b69;
}
.text{
    flex: 1;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: inherit;
}




